#  Week 1: Notes

In [1]:
print("Hello World!")

Hello World!

In [2]:
name = "Muskan"
marks = 100
print(name,marks)

Muskan 100

In [1]:
x = "Hello World"      
print(x)
x = 100                     
print(x)
#list
x = ["apple", "banana", "cherry"]  
print(x)
#tuple
x = ("apple", "banana", "cherry")
print(x)
x = range(6)                     
print(x)
x = {"name" : "John", "age" : 36}    
print(x)
x = {"apple", "banana", "cherry"}    
print(x)

Hello World
20
20.5
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 36}
{'cherry', 'banana', 'apple'}

In [3]:
x = 100.9
y = int(x)
print(y)

100

In [2]:
a = 100
b = 7
c = 0

c = a + b
print (" Value of c is ", c)

c = a - b
print (" Value of c is ", c )

c = a * b
print (" Value of c is ", c)

c = a / b
print (" Value of c is ", c )

c = a % b
print (" Value of c is ", c)

c = a//b 
print ("Value of c is ", c)

 Value of c is  107
 Value of c is  93
 Value of c is  700
 Value of c is  14.285714285714286
 Value of c is  2
Value of c is  14

In [4]:
print(2**3)

8

In [5]:
x = int( input("Enter a number "))
if(x > 0):
    print("Positive")
else :
    print("Less than or equal to 0")

Enter a number 7
Positive

In [6]:
num = float(input('Enter a number:'))

if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Enter a number:1
Positive

In [3]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [7]:
year = int(input("Enter the year"))
if year%4==0 :
    if year%100==0:
        if year%400==0:
            print("{} is a leap year".format(year))
        else:
            print("{} is a leap year".format(year))

Enter the year1000
1000 is a leap year

In [5]:
def fun(name,id):
    print("My name is {0} and id is {1} ".format(name,id))
    
    
fun("Muskan","1")

My name is Muskan and id is 1

In [9]:
import random
random_number=random.randint(0,9)
print(random_number)

4